.loadMoreBtn {
  display: flex;
  margin: 10px auto;
  background-color: rgb(10, 87, 3);
  height: 40px;
  width: 120px;
  border: none;
  color: rgb(166, 245, 157);
}
.loadMoreBtn:hover {
  background-color: rgb(5, 45, 1);
  color: a;
}
.btnContainer {
  padding-bottom: 10px;
}
